## Calculate a 95% confidence interval for the mean age of passengers in the Titanic dataset (train.csv).

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
age_df = df['Age']

In [35]:
sample_size = 100
age_df.sample(sample_size)

303     NaN
668    43.0
662    47.0
626    57.0
298     NaN
       ...
188    40.0
504    16.0
799    30.0
867    31.0
361    29.0
Name: Age, Length: 100, dtype: float64

In [11]:
print(f"standard deviation of age is {age_df.std()}")

standard deviation of age is 14.526497332334042

In [16]:
#for z -test 
std = df['Age'].std() #standard deviation of population
n = 100

In [17]:
point_estimate = age_df.mean()

In [18]:
point_estimate

np.float64(29.69911764705882)

In [21]:
#for 95 percent confidence interval
#to find area towards left we have (confidence level +1) /2

confidence_level = 0.95
area_to_left = (0.95 + 1) /2

In [29]:
area_to_left

0.975

In [33]:
import scipy.stats as stats

In [34]:
z_value = stats.norm.ppf(area_to_left)
z_value#this is the respective z value

np.float64(1.959963984540054)

In [36]:
ci_plus = point_estimate + z_value * std / (sample_size) ** (1/2)

In [37]:
ci_plus

np.float64(32.54625880634801)

In [38]:
ci_minus = point_estimate - z_value * std/ sample_size ** (1/2)

In [39]:
print(f"so confidence interval of age of titanic with 95 percent confidence interval is ({ci_plus},{ci_minus})")

so confidence interval of age of titanic with 95 percent confidence interval is (32.54625880634801,26.85197648776963)